body {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p,
input {
  margin: 0;
}
.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.characters-container {
  margin: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.char-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  height: 350px;
  width: 250px;
  border-radius: 8px;
}
img {
  height: 200px;
  width: 200px;
  border-radius: 8px;
}
.pag-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}
button {
  font-size: 18px;
  color: white;
  padding: 15px;
  background-color: blue;
  border: none;
  border-radius: 4px;
}
.new-char-container {
  background-color: aliceblue;
  border-radius: 8px;
  margin: 20px;
  height: 350px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.new-char-container input,
select {
  width: 90%;
  height: 30px;
}
.new-char-container button {
  width: 90%;
  margin-top: 40px;
}
h2 {
  font-size: 36px;
}
